.sidebar {
  height: 100%;
  width: 10%;
  overflow-y: auto;
  background-color: darkgray;
  .item {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
}
