.base-card {
  border: 1px solid #dee2e6;

  .base-card-header {
    height: 54px;
    background-color: darkblue;
    cursor: move;
  }

  .base-card-content {
    height: calc(100% - 54px);

    & > * {
      height: 100%;
    }

    & > * + * {
      border-left: 1px solid #dee2e6;
    }
  }
}

.online-chat-card {
  position: fixed;
  left: 3%;
  top: 3%;
  width: 20%;
  height: 20%;
  overflow: auto;
  resize: both;
  border: 5px solid darkblue;

  .resize-r {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    cursor: col-resize;
  }

  .resize-b {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    cursor: row-resize;
  }
}
